body 
    margin: 0
    font-family: 'Ubuntu', sans-serif

    
.mauve 
    display: flex
    padding: 5px
    align-items: center
    justify-content: center
    background-color: purple
    color: white
    position: relative

    img
        position: absolute
        left: 10px
        height: 45px
    
    form
        button
            background-color: lightgreen
            color: white
            text-transform: uppercase

nav 
    display: flex
    align-items: center
    justify-content: center